#navbar ul li.active {
    font-weight: bold;
}

body {
  padding-top: 40px;
  position: relative;
  font-family: 'PT Sans', Arial;
}

.b{
  font-weight: 600;
}

.jumbotron b {
  font-weight: 800;
}
.jumbotron .container{
  position: relative;
  top: 100px;
}

#home  div > h1, #home  div > h2{
  color: #EEE;
  text-shadow: 1px 1px 5px #000;
}

img.img-circle {
  border: 1px solid #444;
}

.jumbotron {
  background-image: url(http://turbo.paulstamatiou.com/uploads/2012/03/pstam_coding_bokeh_1200.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', Arial;
  height: 500px;
}

#navbar {
  font-family: 'Open Sans', Arial;
}
#home .row a {
  margin:0px 10px 0px 10px;
} 


.btn{
  border-radius: 0px;
  transition: all 0.3s ease 0s;
  text-shadow: 1px 1px 2px #444;
}


.btn-black{
  background-color: transparent;
  color: black; 
  border: 1px solid #333;
}

.btn-white{
  background-color: transparent;
  color: white;
  border: 1px solid #EEE;
}

button:hover{
  opacity:0.95;
}

.marketing {
  padding-top: 80px;
  min-height: 400px;
} 

.img-responsive{
  width: 100%;
  height: auto;
}

#contact > div > div{
  padding: 10px 5px 10px 5px;
}