#navbar ul li.active {
    font-weight: bold;
}

body {
  padding-top: 40px;
  position: relative;
  font-family: 'PT Sans', Arial;
  background-color: #ecf0f1;
}

.b{
  font-weight: 600;
}

.jumbotron b {
  font-weight: 800;
}
.jumbotron .container{
  position: relative;
  top: 100px;
}

#home  div > h1, #home  div > h2{
  color: #EEE;
  text-shadow: 1px 1px 5px #000;
}

img.img-circle {
  border: 1px solid #444;
}

.jumbotron {
  background-image: url(http://turbo.paulstamatiou.com/uploads/2012/03/pstam_coding_bokeh_1200.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', Arial;
  min-height: 700px;
  margin-bottom: 0px;
}

#navbar {
  font-family: 'Open Sans', Arial;
}
#home .row a {
  margin:0px 10px 0px 10px;
} 


.btn{
  border-radius: 0px;
  transition: all 0.3s ease 0s;
  text-shadow: 1px 1px 2px #444;
}


.btn-black{
  background-color: transparent;
  color: black; 
  border: 1px solid #333;
}

.btn-white{
  background-color: transparent;
  color: white;
  border: 1px solid #EEE;
}

button:hover{
  opacity:0.95;
}

.marketing {
  padding-top: 80px;
  min-height: 700px;
  padding-bottom: 80px;
  position: relative;
  top: 50%;
} 

.img-responsive{
  width: 100%;
  height: auto;
}

#contact > div > div, .jumbotron > div > div{
  padding: 10px 5px 10px 5px;
}

#contact {
  background-image: url(https://images.unsplash.com/photo-1445714342689-555dc8876e1b?fit=crop&fm=jpg&h=650&q=80&w=1375);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

#contact .text-muted, #portfolio .text-muted {
  color: #CCC;
}

#portfolio {
  background-image: url(https://images.unsplash.com/photo-1445754574409-bcd715e18017?fit=crop&fm=jpg&h=650&q=80&w=1375);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

#about {

  background-image: url(https://images.unsplash.com/photo-1445702934240-49eab0fa255a?q=80&fm=jpg&w=1080&fit=max&s=755da48abcc99ec798a79df141e244e5);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.marketing h1 {
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: 800;
}